.chat-main
  .main-header
    .main-header__box
      .main-header__box__name てすと
      .main-header__box__member Member：てすたろう
    = link_to '#',class:"edit"do
      .main-header__edit Edit
  .main-contents
    .message
      .message__box
        .message__box__name てすたろう
        .message__box__date 2020/01/01
      .message__text おはよう
      .message__box
        .message__box__name てすじろう
        .message__box__date 2020/01/01
      .message__text こんにちは
  .main-form
    %form.new-message
      .input-box
        %input{class: "text",placeholder: "type a message",type:"text"}
        %label{class: "input-box__image"} 
          = icon('fa','image')
          %input{class:"input-box__image__file",type: "file"}
      %input{class:"submit-btn",type:"submit",value:"Send"}